@import "tailwindcss";

@theme {
  --color-primary: var(--color-pink-500);
  --color-primary-content: var(--color-neutral-50);
  --color-secondary: var(--color-sky-500);
  --color-secondary-content: var(--color-neutral-50);
  --color-base-100: var(--color-neutral-900);
  --color-base-200: var(--color-neutral-800);
  --color-base-300: var(--color-neutral-700);
  --color-base-content: var(--color-neutral-50);
}
